upload-example {
    #upload-example-content {
        .scroll-content {
            padding: 15px;
        }

        .upload-info {
            span {
                margin-left: 10px;
            }
        }
        
        .image {
            height: 100px;                  
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;   
            margin-top: 20px;
        }

        button {
            width: 100% !important; 
            font-size: 12pt;
            border-radius: 0;

            ion-icon {
                margin-right: 10px;
            }
        }
    }
}
