<ion-navbar *navbar>
  <ion-title>Home</ion-title>
</ion-navbar>

<ion-content padding class="home">
    Select / Make some images
    <br>
    <button dark (click)="openCamera()">                
        Open camera
    </button>
    <br>
    <button dark (click)="openAlbums()">                
        Open albums
    </button>
    <br>
    <button dark [hidden]="images.length == 0" (click)="startUploading()">                
        Start uploading
    </button>
    
      <div class="items">
        <div *ngFor="let item of images; #i = index">
            <ion-row center  *ngIf="i % 4 === 0" > 
                <ion-col width-25 *ngIf="i < images.length">
                    <div class="image" style="background-image: url('{{images[i]}}')"></div>
                </ion-col>
                <ion-col width-25 *ngIf="i + 1 < images.length">
                    <div class="image" style="background-image: url('{{images[i + 1]}}')"></div>
                </ion-col>
                <ion-col width-25 *ngIf="i + 2 < images.length">
                    <div class="image" style="background-image: url('{{images[i + 2]}}')"></div>
                </ion-col>
                <ion-col width-25 *ngIf="i + 3 < images.length">
                    <div class="image" style="background-image: url('{{images[i + 3]}}')"></div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
