page-home {
    #home-content {
        .scroll-content {
            padding: 15px;
            text-align: center;
        }

        .version {
            text-align: center;
        }

        h6 {
            margin: 10px 0 2px 0;
            font-weight: bold;
            text-align: left;
        }

        p {
            margin: 0px 0;
            text-align: left;
        }

        img {
            height: 140px;
            margin: -20px 0;
        }
    }
}
