page-home {
    #home-content {
        .scroll-content {
            padding: 15px;
        }

        h6 {
            margin: 10px 0 2px 0;
            font-weight: bold;
        }

        p {
            margin: 0px 0;
        }

        .logo {
            height: 100px;
            background-image: url('/assets/images/logo.png');
            background-size: cover;
            background-position: center center;
        }
    }
}
