page-home {
    #home-content {
        .scroll-content {
            padding: 15px;
        }

        h6 {
            margin: 10px 0 2px 0;
            font-weight: bold;
        }

        p {
            margin: 0px 0;
        }
    }
}
